<div class="row">
  <div class="col-6">
    <app-liste (eventToCv)="recupererCandidatSelectionne($event)"></app-liste>
  </div>
  <div class="col-6">
    @if (selectedCandidate) {
    <app-details [selCandidate]="selectedCandidate"></app-details>

    } @else {
    <h3>Veuillez sélectionner un candidat...</h3>
    }
  </div>
</div>

<button (click)="ajouterCandidat()" class="btn btn-primary">
  Ajouter Candidat
</button>
<button (click)="showListCandidates()" class="btn btn-dark">
  Liste Candidats Depuis le CV
</button>
