<ul class="nav nav-tabs">
  <li class="nav-item">
    <a
      class="nav-link"
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Accueil</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      routerLink="cv"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Cv</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="cv/add" routerLinkActive="active"
      >Ajouter Cv</a
    >
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="accounts" routerLinkActive="active"
      >Accounts</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="servers" routerLinkActive="active"
      >Servers</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="login" routerLinkActive="active">Login</a>
  </li>
</ul>
