<label for="">Account Name</label>
<input #inpName type="text" class="form-control" />

<label for="">Account Status</label>
<select #selStatus name="" id="" class="form-control">
  @for (opt of allOptions; track $index) {
  <option [value]="opt">{{ opt }} </option>
  }
</select>

<br />
<button
  (click)="sendAccountToHome(inpName.value, selStatus.value)"
  class="btn btn-primary"
>
  Add Account
</button>
<!-- <label for="">Account Name</label>
<input [(ngModel)]="accountName" type="text" class="form-control" />

<label for="">Account Status</label>
<select [(ngModel)]="accountStatus" name="" id="" class="form-control">
  @for (opt of allOptions; track $index) {
  <option [value]="opt">{{ opt }} </option>
  }
</select>

{{ accountName }}
{{ accountStatus }}
<br />
<button (click)="sendAccountToHome()" class="btn btn-primary">
  Add Account
</button> -->
