@if (showError) {
<div class="alert alert-danger">Identifiants invalides</div>

}

<form #f="ngForm">
  <label>Nom d'utilisateur</label>
  <input
    #inpLogin="ngModel"
    ngModel
    name="email"
    required
    email
    type="text"
    class="form-control"
  />
  @if (inpLogin.invalid && inpLogin.touched) {
  <div class="alert alert-danger">Veuillez saisir une adresse mail valide</div>

  }
  <label>Mot de passe</label>
  <input
    ngModel
    required
    minlength="5"
    name="password"
    type="text"
    class="form-control"
  />

  <br />
  <div class="row">
    <div class="col-4"></div>
    <div class="col-8">
      @if (showRegister) {
      <button (click)="submitHandler(f)" type="submit" class="btn btn-primary">
        S'inscrire
      </button>
      <button
        (click)="toggleShowRegister()"
        type="submit"
        class="btn btn-warning"
      >
        Basculer vers Login
      </button>

      } @else {
      <button (click)="submitHandler(f)" type="submit" class="btn btn-info">
        Se connecter
      </button>
      <button
        (click)="toggleShowRegister()"
        type="submit"
        class="btn btn-danger"
      >
        Basculer vers Register
      </button>

      }
    </div>
  </div>
  <!-- <label>Compétence</label>
  <select
    name="competence"
    [ngModel]="competenceParDefaut"
    class="form-control"
  >
    <option value=""></option>
    <option value="js">Javascript</option>
    <option value="php">Php</option>
    <option value="python">Python</option>
  </select>
  <hr />
  Compétence Par défaut : {{ competenceParDefaut }}
  <hr />

  <textarea
    [(ngModel)]="monCommentaire"
    class="form-control"
    name="commentaire"
    cols="5"
    rows="4"
  ></textarea>
  <hr />
  Commentaire : {{ monCommentaire }}
  <hr />

  <input
    #inpError="ngModel"
    ngModel
    name="erreurs"
    required
    minlength="5"
    pattern="nidhal"
    type="text"
    class="form-control"
  />
  @if(inpError.invalid) { @if (inpError.errors["required"]) {
  <div class="alert alert-danger">Ce champ est obligatoire</div>

  } @if (inpError.errors["minlength"]) {
  <div class="alert alert-danger">Le nombre minimum de caractères est 5</div>

  } @if (inpError.errors["pattern"]) {
  <div class="alert alert-danger">Le pattern est 'nidhal'</div>

  } } -->

  <!-- <pre>
    {{ f.value | json }}
  </pre> -->
</form>
