<ol class="list-group">
  @for (cand of allCandidates; track $index) {

  <app-item
    (eventToListe)="sendCandidateToCv($event)"
    [unCandidat]="cand"
  ></app-item>

  }
  <!-- <app-item
    (eventToListe)="sendCandidateToCv($event)"
    [unCandidat]="allCandidates[1]"
  ></app-item>
  <app-item
    (eventToListe)="sendCandidateToCv($event)"
    [unCandidat]="allCandidates[2]"
  ></app-item> -->
</ol>

<button (click)="showListCandidates()" class="btn btn-info">
  Liste Candidats Depuis le LISTCOMP
</button>
