<form #f="ngForm" (ngSubmit)="submitHandler(f.value)">
  <label>Prénom</label>
  <input
    [ngModel]="candidatAMettreAJour?.prenom"
    name="prenom"
    type="text"
    class="form-control"
  />
  <label>Nom</label>
  <input
    [ngModel]="candidatAMettreAJour?.nom"
    name="nom"
    type="text"
    class="form-control"
  />
  <label>Age</label>
  <input
    [ngModel]="candidatAMettreAJour?.age"
    name="age"
    type="number"
    class="form-control"
  />
  <label>Profession</label>
  <input
    [ngModel]="candidatAMettreAJour?.profession"
    name="profession"
    type="text"
    class="form-control"
  />
  <label>Avatar</label>
  <input
    [ngModel]="candidatAMettreAJour?.avatar"
    name="avatar"
    type="text"
    class="form-control"
  />
  <br />
  <pre>
    {{ f.value | json }}
  </pre>
  <button class="btn btn-primary" tpye="submit">Mettre à jour</button>
</form>
